@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@layer base {
  :root {
    --text-50: #eff6f1;
    --text-100: #dfece3;
    --text-200: #bedac7;
    --text-300: #9ec7ac;
    --text-400: #7db590;
    --text-500: #5da274;
    --text-600: #4a825d;
    --text-700: #386146;
    --text-800: #25412e;
    --text-900: #132017;
    --text-950: #09100c;

    --background-50: #eef6f1;
    --background-100: #ddeee3;
    --background-200: #bbddc6;
    --background-300: #99ccaa;
    --background-400: #77bb8e;
    --background-500: #55aa71;
    --background-600: #44885b;
    --background-700: #336644;
    --background-800: #22442d;
    --background-900: #112217;
    --background-950: #09110b;

    --primary-50: #eff5f0;
    --primary-100: #dfece1;
    --primary-200: #bfd9c4;
    --primary-300: #9fc6a6;
    --primary-400: #80b389;
    --primary-500: #609f6b;
    --primary-600: #4d8056;
    --primary-700: #396040;
    --primary-800: #26402b;
    --primary-900: #132015;
    --primary-950: #0a100b;

    --secondary-50: #eff5f6;
    --secondary-100: #dfecec;
    --secondary-200: #bfd8d9;
    --secondary-300: #9fc5c6;
    --secondary-400: #7eb2b4;
    --secondary-500: #5e9ea1;
    --secondary-600: #4b7f81;
    --secondary-700: #395f60;
    --secondary-800: #263f40;
    --secondary-900: #132020;
    --secondary-950: #091010;

    --accent-50: #eff4f5;
    --accent-100: #dfe9ec;
    --accent-200: #bfd3d9;
    --accent-300: #9fbdc6;
    --accent-400: #80a7b3;
    --accent-500: #60919f;
    --accent-600: #4d7480;
    --accent-700: #395760;
    --accent-800: #263a40;
    --accent-900: #131d20;
    --accent-950: #0a0e10;
  }
  .dark {
    --text-50: #09110b;
    --text-100: #122117;
    --text-200: #24422e;
    --text-300: #366345;
    --text-400: #47855c;
    --text-500: #59a673;
    --text-600: #7ab88f;
    --text-700: #9cc9ab;
    --text-800: #bddbc7;
    --text-900: #deede3;
    --text-950: #eef6f1;

    --background-50: #08120d;
    --background-100: #0f241a;
    --background-200: #1f4733;
    --background-300: #2e6b4d;
    --background-400: #3d8f66;
    --background-500: #4db380;
    --background-600: #70c299;
    --background-700: #94d1b3;
    --background-800: #b8e0cc;
    --background-900: #dbf0e6;
    --background-950: #edf7f2;

    --primary-50: #0a100b;
    --primary-100: #132015;
    --primary-200: #26402b;
    --primary-300: #396040;
    --primary-400: #4d8056;
    --primary-500: #609f6b;
    --primary-600: #80b389;
    --primary-700: #9fc6a6;
    --primary-800: #bfd9c4;
    --primary-900: #dfece1;
    --primary-950: #eff5f0;

    --secondary-50: #091010;
    --secondary-100: #132020;
    --secondary-200: #263f40;
    --secondary-300: #395f60;
    --secondary-400: #4b7f81;
    --secondary-500: #5e9ea1;
    --secondary-600: #7eb2b4;
    --secondary-700: #9fc5c6;
    --secondary-800: #bfd8d9;
    --secondary-900: #dfecec;
    --secondary-950: #eff5f6;

    --accent-50: #0a0e10;
    --accent-100: #131d20;
    --accent-200: #263a40;
    --accent-300: #395760;
    --accent-400: #4d7480;
    --accent-500: #60919f;
    --accent-600: #80a7b3;
    --accent-700: #9fbdc6;
    --accent-800: #bfd3d9;
    --accent-900: #dfe9ec;
    --accent-950: #eff4f5;
  }
}

.transparenteEffect {
  color: transparent;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  background-clip: text;
}

::-webkit-scrollbar {
  width: 0px;
}

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.podium-place {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}

.podium__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.podium__city {
  text-align: center;
  padding: 0 .5rem;
  margin-bottom: 10px;
}

.first {
  min-height: 300px;
  background: gold;
}

.second {
  min-height: 200px;
  background: silver;
}

.third {
  min-height: 100px;
  background: #cd7f32; /* Bronze */
}
  
